{% import "_includes/forms" as forms %}

<div class="linkit">

	{% if field.types|length > 1 %}

	    {{ forms.selectField({
	        id: id ~ '-type',
	        name: name ~ '[type]',
	        fieldClass: 'linkit--type',
	        options: field.enabledlinkTypesAsOptions,
	        value: link.type ?? '',
	        errors: field.getErrors('type') ?? null,
	        toggle: true,
	    }) }}

	{% endif %}

	{% for linkType in field.enabledlinkTypes %}

	    {% set isCurrentType = linkType.type == link.type %}

	    <div id="{{ linkType.type|id }}" class="linkit--{{ linkType.defaultLabel|lower }} {{ not isCurrentType ? 'hidden' }}">

			{% set currentLink = isCurrentType ? link : null %}
	    	{{ linkType.getInputHtml(name, currentLink)|raw }}

	    </div>

	{% endfor %}

	{% if field.allowCustomText or field.allowTarget %}

		<div id="{{ id }}-any" class="linkit--settings {{ link.type == '' ? 'hidden' }}">

			{% if field.allowCustomText %}

				{{ forms.textField({
					id: name~'CustomText',
					name: name~'[customText]',
					fieldClass: 'linkit--customText',
					placeholder: field.defaultText ? field.defaultText : 'Link Text'|t('link-it'),
					value: link.customText ?? ''
				}) }}

			{% endif %}

			{% if field.allowTarget %}

				{{ forms.checkboxField({
					id: name~'Target',
					name: name~'[target]',
					fieldClass: 'linkit--target',
					value: true,
					label: 'Open link in new window?'|t('link-it'),
					checked: link.target ?? null
				}) }}

			{% endif %}

		</div>

	{% endif %}

</div>
